.container {
    width: 750px;
    margin: 0 auto;
    background-color: brown;
    display: flex;
    justify-content: space-between;
}

.box1, .box2, .box3{
    width: 200px;
    height: 200px;
    margin: 50px;
    display: flex;
    justify-content: space-between center;
    align-items: center
}

.box1{
    background-color: blue;
}
.box2{
    background-color: rgb(0, 255, 85);
}
.box3{
    background-color: blue;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}