*{
  margin: 0px;
  padding: 0px;
  /* outline: 1px solid #000000; */
}
.header{
  width: 1200px;
  margin: 0 auto;
  padding-top: 28px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.MoGo {
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  color: #95e1d3;
  font-weight: 700;
  text-align: left;
}
.menu{
  width: 490px;
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.menu-link {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #95e1d3;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  text-decoration: none;
  transition: all 200ms linear;
}
.menu-link:hover{
  border-bottom: 2px solid #f38181;
  padding-bottom: 12px;
  color: #f38181;
  transition: all 200ms linear;
}
/* MAIN */
.main{
  margin-top: 127px;
}
.title-manuscript{
  font-size: 24px;
  font-family: "Kaushan Script";
  color: #333333;
  line-height: 1.2;
  text-align: center;
}
.title{
  margin-top: 22px;
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  color: #333333;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
}
.title:after{
  content: "";
  display: block;
  margin: 42px auto 0;
  width: 60px;
  height: 3px;
  background-color: #f38181;
}
.articles{
  width: 1148px;
  margin: 66px auto 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.articles-item{
  width: 340px;
  display: flex;
}
.articles-item:nth-last-child(-n+3){
  margin-top: 99px;
}
.articles-item:hover .articles-icon{
  fill: #f38181;
  transition: all 200ms linear;
}
.articles-icon{
  height: 32px;
  width: 32px;
  fill: #95e1d3;
  transition: all 200ms linear;
}
.articles-text{
  margin-left: 29px;
  width: 288px;
}
.articles-title{
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: #333333;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: left;
}
.articles-info{
  margin-top: 20px;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  color: #999999;
  line-height: 1.6;
  text-align: left;
}
.margin-top-92{
  margin-top: 92px;
}
.section-two-text{
  width: 941px;
  margin: 46px auto 0;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  color: #999999;
  line-height: 1.6;
  text-align: center;
}
.section-two{
  margin-top: 90px;
}
.section-two-list{
  width: 1200px;
  margin: 0 auto;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.section-two-img{
  width: 383px;
  height: 473px;
  display: block;
}
.section-two-name{
  margin-top: 30px;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: #333333;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
}
.section-two-post{
  margin-top: 15px;
  font-size: 15px;
  font-family: "Roboto";
  font-weight: 300;
  font-style: italic;
  color: #999999;
  text-align: center;
}
.img-onhover{
  position: relative;
  transition: all 200ms linear;
}
.socialnetwork-list{
  width: 224px;
  height: 54px;
  display: none;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: linear-gradient( 90deg, rgba(252,227,138, 0.9) 0%, rgba(243,129,129, 0.9) 100%);
  padding: 210px 80px;
  transition: all 200ms linear;
}
.img-onhover:hover .socialnetwork-list{
  display: flex;
  transition: all 200ms linear;
}
.img-onhover:hover{
  transition: all 200ms linear;
  transform: translate(-9px, -9px);
  box-shadow: 9px 9px 0px 0px #95e1d3;
}
.socialnetwork-icon{
  height: 26px;
  margin-right: 1px;
  padding: 15px 0;
  background-color: #fce38a;
  fill: #f38181;
  opacity: 0;
  transition: all 200ms linear;
}
.img-onhover:hover .socialnetwork-icon{
  transition: all 200ms linear;
  opacity: 1;
}
.socialnetwork-icon:hover{
  background-color: #95e1d3;
  fill: white;
  transition: all 200ms linear;
}
/* FOOTER */
.footer{
  width: 1200px;
  margin: 0 auto;
  margin-top: 82px;
  border-top: 1px solid #000;
  display: flex;
  justify-content: space-between;
}
.footer-text{
  margin-top: 24px;
  padding-bottom: 24px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #333333;
}
.footer-link{
  text-decoration: none;
  color: #f38181;
}
.footer-form{
  font-size: 0;
  width: 382px;
  margin-top: 10px;
  text-align: right;
}
input[type=email]{
  width: 215px;
  height: 38px;
  border: 1px solid #999999;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
  color: #999999;
  padding-left: 13px;
}
input[type=submit]{
  width: 150px;
  height: 40px;
  border: none;
  text-transform: uppercase;
  background-color: #95e1d3;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}