*{
    margin: 0;
    padding: 0;
    /* outline: 2px red solid; */ 
}
.container {
    width: 900px;
    margin: 0 auto;
}
.header{
    padding-top: 77px;
    padding-bottom: 103px;
}
.menu{
    list-style: none;
    text-align: center;
}
.menu-item{
    display: inline-block;
    width: 200px;
}
.menu-link{
    text-decoration: none;
    font-size: 14px;
    font-family: "Playfair Display", serif;
    color: rgb(98, 98, 98);
    text-transform: uppercase;
    line-height: 1.714;
    text-align: center;
}
.menu-link:hover{
    color: #03a9f4;
}
.main{
    width: 900px;
    margin: 0 auto;
}
.article{
    width: 420px;
    float: left;
}
.article:nth-child(2n-1){
    padding-right: 60px;
}
.article:nth-child(n+3){
    padding-top: 130px;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.picture{
    width: 100%;
    height: 280px;
}
.picture_description{
    font-size: 14px;
    font-family: "Ubuntu Light", sans-serif;
    color: rgb(180, 173, 158);
    text-transform: uppercase;
    line-height: 1.2;
    padding-top: 31px;
}  
.title{
    font-size: 30px;
    font-family: "Playfair Display", serif;
    color: rgb(98, 98, 98);
    line-height: 1.2;
    text-align: left;
    padding-top: 28px;
  }
.text{
    font-size: 14px;
    font-family: "Playfair Display", serif;
    color: rgb(98, 98, 98);
    line-height: 1.714;
    text-align: left;
    padding-top: 34px;
  }
.footer-button{
    font-size: 20px;
    font-family: "Playfair Display", serif;
    color: rgb(98, 98, 98);
    line-height: 1.2;
    border: 1px solid rgb(98, 98, 98);
    width: 162px;
    height: 58px;
    background: none;
    margin: 54px auto 70px;
    display: block;
  }
  .footer-button:hover{
      color: white;
      background-color: #03a9f4;
  }