*{
    margin: 0;
    padding: 0;
}

.product-list{
    width: 1110px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    list-style: none;
}


.product-item{
    width: 255px;
}

.prod-link:hover .buttons{
    display: flex;
}

.prod-link:hover{
    opacity: 0.5;
    transform: translate(-10px, -10px);
    box-shadow: 5px 5px #1abc9c;
    transition-duration: 200ms;
    transition-timing-function: linear;
    transition: all;
}







.prod-img{
    width: 255px;
    height: 282px;
    display: block;
}

.wrapper{
    position: relative;
}

.buttons{
    width: 166px;
    /* height: 110px; */
    background-color: rgba(172, 192, 236, 0.431);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 80px 34px; 
    display: none;   
    justify-content: space-between;
    flex-wrap: wrap;
}

.add, .icon{
    display: block;
    border: 1px solid #fff;
    background-color: transparent;
}

.icon{
    border: 1px solid #fff;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: center;
}

.icon:hover{
    background-color: #1abc9c;
    border: 1px solid #1abc9c;
}

.like{
    background-image: url("../img/heart.png");
}

.shuffle{
    background-image: url("../img/arrows.png");
}

.clock{
    background-image: url("../img/cloack.png");
}

.add {
    margin-top: 7px;
    width: 100%;
    text-transform: uppercase;   
    background-color: #888; 
}

.add:hover { 
    background-color: #333; 
}

.basket{
    display: flex;
    align-items: center;
    color: #fff;
}

.basket::before{
    content: "";
    background-image: url("../img/basket.png");
    width: 28px;
    height: 27px;
    display: block;
    margin: 11px 20px 11px 13px;
}